# Compiled output
/target/

# Optional files
/.cargo/registry/*
!.cargo/registry/index/*
!.cargo/registry/cache/*

# Backup files
*~
*.rs.bk

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env